container_commands:
  20-run-artisan-migrate:
    command: "php artisan migrate --force"
    leader_only: true
  21-cache:
    command: "php artisan cache:clear"
  22-optimize:
    command: "php artisan optimize --force"
  23-fix-app-permissions:
    command: "chmod 777 -R /var/app/ondeck"
    cwd: "/var/app/ondeck"